In [39]:
import pandas as pd
import csv

In [85]:
vine_table_to_load = "vine_table.csv"
vine_table_df = pd.read_csv(vine_table_to_load)
vine_table_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R1NBG94582SJE2,5.0,0.0,0.0,N,Y
1,R273DCA6Y0H9V7,5.0,0.0,0.0,N,Y
2,RQVOXO7WUOFK6,2.0,1.0,1.0,N,Y
3,R1KWKSF21PO6HO,5.0,0.0,0.0,N,Y
4,R38H3UO1J190GI,5.0,1.0,1.0,N,Y

In [126]:
votes_gORe_twenty_df= vine_table_df.loc[(vine_table_df["total_votes"] >= 20)]
votes_gORe_twenty_df.count()

review_id            59316
star_rating          59316
helpful_votes        59316
total_votes          59316
vine                 59316
verified_purchase    59316
dtype: int64

In [50]:
gORe_fifty_per= votes_gORe_twenty_df.loc[(votes_gORe_twenty_df["helpful_votes"] / votes_gORe_twenty_df["total_votes"])>=.5]
gORe_fifty_per.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
66,R3FJ319XA6ZAUQ,2.0,21.0,25.0,N,Y
124,R6HRF25HUMIIE,5.0,24.0,24.0,N,Y
173,R2CTAK3APOFKZU,5.0,37.0,38.0,N,N
217,R1WQZB0CAEPQBU,2.0,85.0,128.0,N,N
221,RHZDSA48HVRVK,5.0,49.0,86.0,N,N

In [132]:
paid_vine = gORe_fifty_per.loc[(gORe_fifty_per["vine"]== 'Y')]
paid_vine.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
4370,R37L6YZDX0P3J9,1.0,28.0,35.0,Y,N
5627,R2JT4XRQO2KASL,5.0,38.0,41.0,Y,N
32659,R10XRAOBFFSTL2,5.0,44.0,47.0,Y,N
34040,R1X8F3R1K1SF5,2.0,30.0,31.0,Y,N
57741,R326QV66CKBB43,4.0,127.0,139.0,Y,N

In [55]:
unpaid_vine = gORe_fifty_per.loc[(gORe_fifty_per["vine"] == 'N')]
unpaid_vine.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
66,R3FJ319XA6ZAUQ,2.0,21.0,25.0,N,Y
124,R6HRF25HUMIIE,5.0,24.0,24.0,N,Y
173,R2CTAK3APOFKZU,5.0,37.0,38.0,N,N
217,R1WQZB0CAEPQBU,2.0,85.0,128.0,N,N
221,RHZDSA48HVRVK,5.0,49.0,86.0,N,N

In [135]:
total_paid_count= paid_vine["review_id"].count()
total_paid_count

607

In [133]:
paid_five_star_review = paid_vine.loc[(paid_vine["star_rating"] == 5.0)]
paid_five_star_review_count = paid_five_star_review["review_id"].count()
paid_five_star_review_count

257

In [137]:
paid_star_percent = (paid_star_count / total_paid_count) 
print(f"{paid_star_percent:.2%}")

42.34%

In [138]:
total_unpaid_count= unpaid_vine["review_id"].count()
total_unpaid_count

50522

In [139]:
unpaid_five_star_review = unpaid_vine.loc[(unpaid_vine["star_rating"] == 5.0)]
unpaid__five_star_review_count = unpaid_star["review_id"].count()
unpaid__five_star_review_count

25220

In [140]:
unpaid_star_percent = (unpaid_star_count / total_unpaid_count) 
print(f"{unpaid_star_percent:.3%}")

49.919%